altgraph==0.17.2
bottle==0.12.21
bottle-websocket==0.2.9
certifi @ file:///C:/Windows/TEMP/abs_e9b7158a-aa56-4a5b-87b6-c00d295b01fanefpc8_o/croots/recipe/certifi_1655968940823/work/certifi
cffi==1.15.0
charset-normalizer==2.1.0
colorama==0.4.5
cx-Freeze==6.11.1
cx-Logging==3.0
decorator==4.4.2
Eel==0.14.0
ffmpeg==1.4
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
idna==3.3
imageio==2.19.3
imageio-ffmpeg==0.4.7
importlib-metadata==4.12.0
lief==0.12.2
moviepy==1.0.3
numpy==1.23.0
packaging==21.3
pefile==2022.5.30
Pillow==9.1.1
proglog==0.1.10
pycparser==2.21
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.7
pyparsing==3.0.9
pywin32-ctypes==0.2.0
requests==2.28.1
tqdm==4.64.0
urllib3==1.26.9
whichcraft==0.6.1
wincertstore==0.2
zipp==3.8.0
zope.event==4.5.0
zope.interface==5.4.0
